<web-app>
	<servlet>
		<servlet-name>servlet1</servlet-name>
		<servlet-class>com.kims.DoctorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet1</servlet-name>
		<url-pattern>/doctor_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet2</servlet-name>
		<servlet-class>com.kims.DoctorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet2</servlet-name>
		<url-pattern>/doctor_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet3</servlet-name>
		<servlet-class>com.kims.DoctorUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet3</servlet-name>
		<url-pattern>/doctor_update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet4</servlet-name>
		<servlet-class>com.kims.PatientRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet4</servlet-name>
		<url-pattern>/patient_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet5</servlet-name>
		<servlet-class>com.kims.PatientLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet5</servlet-name>
		<url-pattern>/patient_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet6</servlet-name>
		<servlet-class>com.kims.PatientUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet6</servlet-name>
		<url-pattern>/patient_update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet7</servlet-name>
		<servlet-class>com.kims.Appointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet7</servlet-name>
		<url-pattern>/apply_appointment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servlet8</servlet-name>
		<servlet-class>com.kims.AcceptAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet8</servlet-name>
		<url-pattern>/accept_appointment</url-pattern>
	</servlet-mapping>
</web-app>
