<web-app>
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.kims.DoctorRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/doctor_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.kims.DoctorLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/doctor_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.kims.DoctorUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/doctor_update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fourth</servlet-name>
		<servlet-class>com.kims.PatientRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fourth</servlet-name>
		<url-pattern>/patient_register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fifth</servlet-name>
		<servlet-class>com.kims.PatientLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fifth</servlet-name>
		<url-pattern>/patient_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sixth</servlet-name>
		<servlet-class>com.kims.PatientUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sixth</servlet-name>
		<url-pattern>/patient_update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eighth</servlet-name>
		<servlet-class>com.kims.Appointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eighth</servlet-name>
		<url-pattern>/apply_appointment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ninth</servlet-name>
		<servlet-class>com.kims.AcceptAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ninth</servlet-name>
		<url-pattern>/accept_appointment</url-pattern>
	</servlet-mapping>
</web-app>
