<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.employee.EmployeeRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/employee_register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.employee.EmployeeLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/employee_login</url-pattern>
</servlet-mapping>
</web-app>